/*General Hue: 197 deg.*/

* {
  padding: 0;
  margin: 0;
  /*border: 1px solid black;*/
  box-sizing: border-box;
}

body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-image: radial-gradient(#5fb9cc, #d6f2f5);
}

.main {
  width: 450px;
  height: 300px;
  min-width: 450px;
  min-height: 250px;

  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -225px;
  margin-top: -150px;
}

.form-div {
  margin-top: 88px;
}

.login-input p, input{
  display: inline-block;
}

.login-input p {
  display: inline-block;
  width: 100px;
  padding-right: 5px;
  font-family: PT Sans, sans-serif;
  font-size: 20px;
  color: #155f7c;
  text-align: center;
}

#password-label {
  text-align: right;
}

.input-field {
  height: 30px;
  width: 200px;
  border: 2px solid #2d7e9e;
  background-color: #d6f2fc;
  border-radius: 4px;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  color: #2d7e9e;
  padding-left: 3px;
  padding-right: 3px;
}

.input-div {
  margin-top: 6px;
  margin-bottom: 6px;
  width: 310px;
  margin-left: 20px;
}

.submit-btn {
  height: 44px;
  width: 120px;
  font-size: 28px;
  font-family: PT Sans, sans-serif;
  text-decoration: none;
  background-color: transparent;
  color: #155f7c;
  border: 3px solid #155f7c;
  border-radius: 5px;
  margin-left: 165px;
  outline: none;
}

.submit-btn:hover {
  background-color: #155f7c;
  color: #96D5E2;
}

.inactive-text-field {
  color: #5fa4bf;
}
